/* Skip to main button should appear with keyboard use and disappear when not in focus */
.skip a{
  background: white;
  left: 0;
  padding: 6px;
}

.skip {
  left: -10000px;
  top: -40px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: absolute;
  width: auto;
  height: auto;
  top: 20px;
  left: 0%;
  padding: 1%;
  background: #ffc;
}

/* Body should use given font and have an image background, with a backup color */
body {
  font-family: 'Poppins', serif;
  background-image: url('../images/concrete_seamless.png');
  background-color: #f1f1f1;
}

/* 2. Demonstrate ability to use the flex display */
/* center header and navigation links (as a column) */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Links should not change color once vistied */
.nav_links a, .nav_links a:visited {
  color: blue;
}

/* style ONLY those header elements that are direct children of a card class */
.card > header {
  background: #288088;
  border: solid 2px #45ADAD;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}


/* center "card" items within the pricing div tag and position them in the center (horizontally) */
/* In order to resolve the corners probably not curving as expected, modify the entire div, not just the header */
.card {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  flex: 0 0 450px;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* style the gallery to have borders and follow the instructor's mobile-view display */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 300px;
  border: 10px solid #50C7C7;
  margin: 10px;
}


/* 3. Demonstrate ability to create a media query to change the layout on the screen by adjusting flex. */
@media screen and (min-width:900px) {
  header {
    /* space logo (to left) and nav links (to right) */
    flex-direction: row;
    justify-content: space-between;

    /* fix header to top of page on scroll */
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .nav_links {
    flex-direction: row;
  }

  .pricing {
    flex-direction: nowrap;
  }

  .card {
    z-index: 10;
    flex: 0 0 275px;
  }

  .card > header {
    position: static;
    top: auto;
    align-items: flex-start;
  }

  .gallery img {
    width: 300px;
  }
}


/* 4. Demonstrate the ability to create a media query to create a printout that matches our example. */
@media print {
  body {
    font-family: Arial, Helvetica;
    background-image: none;
  }

  nav {
    width: 100%;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pricing {
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .card {
    border: 2px solid #45ADDD;
    flex: 1 1 325px;
  }

  /* extra challenge: add thumbs up after each second li item in card */
  .card ul li:nth-child(2)::after {
    content: "👍";
  }

  /* hide gallery */
  #gallery, .gallery {
    display: none;
  }

  /* push footer to the next page to match screenshot */
  .footer {
    page-break-before: always;
  }
}

/* 5. Demonstrate ability to code a working animation and then disable it with a media query. */
/* animate logo using keyframes */
@keyframes logoAnimation {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 475px;
    opacity: 1;
  }
}

/* add animation to logo */
#logo {
  animation: logoAnimation 5s ease-in-out;
}

/* account for usability preferences by removing logo animation if specified */
@media screen and (prefers-reduced-motion: reduce){
  #logo {
    animation-duration: 0s;
  }
}
